*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;*behavior:url("js/vendor/boxsizing.htc")}
html{overflow-y:scroll;overflow-x:hidden}
body{zoom:1;width:100%}
body:before,body:after{content:"";display:table}
body:after{clear:both}
img,video,audio,embed,object,input,iframe{max-width:100%}
.placeholder{color:#aaa}
.chromeframe{width:100%;background:#fff;background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #eee));background:-webkit-linear-gradient(top, #fff 0, #eee 100%);background:-moz-linear-gradient(top, #fff 0, #eee 100%);background:-o-linear-gradient(top, #fff 0, #eee 100%);background:-ms-linear-gradient(top, #fff 0, #eee 100%);background:linear-gradient(top, #fff 0, #eee 100%);border-bottom:1px solid #ddd;-webkit-box-shadow:inset 0 -1px 0 #fff;box-shadow:inset 0 -1px 0 #fff;text-shadow:0 1px 0 #fff;}
.chromeframe p{zoom:1;max-width:1410px;float:none !important;display:block;margin-right:auto !important;margin-left:auto !important;*margin-right:auto !important;*margin-left:auto !important;padding:15px 0;margin-top:0;margin-bottom:0;text-align:center;margin-bottom:0;}
.chromeframe p:before,.chromeframe p:after{content:"";display:table}
.chromeframe p:after{clear:both}
.chromeframe p a{color:#3a95fb}
.mega{font-size:3.65323615365196em}
.alpha,h1{font-size:2.8865075781941414em}
.beta,h2{font-size:2.2806973457336426em}
.gamma,h3{font-size:2.0272865295410156em}
.delta,h4{font-size:1.802032470703125em}
.epsilon,h5{font-size:1.601806640625em}
.zeta,h6{font-size:1.423828125em}
h1{text-rendering:optimizeLegibility;line-height:1;margin-top:0;margin-bottom:.6923076923076923rem;color:#222}
h2{text-rendering:optimizeLegibility;line-height:1;margin-top:0;margin-bottom:.6923076923076923rem;color:#222}
h3{text-rendering:optimizeLegibility;line-height:1;margin-top:0;margin-bottom:.6923076923076923rem;color:#222}
h4{text-rendering:optimizeLegibility;line-height:1;margin-top:0;margin-bottom:.6923076923076923rem;color:#222}
h5{text-rendering:optimizeLegibility;line-height:1;margin-top:0;margin-bottom:.6923076923076923rem;color:#222}
h6{text-rendering:optimizeLegibility;line-height:1;margin-top:0;margin-bottom:.6923076923076923rem;color:#222}
body{font:normal 112.5%/1.625 Georgia,serif;word-wrap:auto;color:#444}
p{margin:0 0 1.5em;}
p + p{text-indent:1.5em;margin-top:-1.5em}
.small{text-indent:0}
#content{zoom:1;max-width:40.625em;float:none !important;display:block;margin-right:auto !important;margin-left:auto !important;*margin-right:auto !important;*margin-left:auto !important;margin-top:2em}
#content:before,#content:after{content:"";display:table}
#content:after{clear:both}
@media all and (max-width: 705px) {
}
